.rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
  li, figure {
    -webkit-backface-visibility: hidden;
    position: absolute;
    display: block;
    width: 100%;
    margin: 0;
    padding: 0;
    left: 0;
    top: 0;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    z-index: 1;
    &:first-child {
      position: relative;
    }
    &.rslide-active {
      opacity: 1;
      z-index: 2;
    }
  }
  img {
    display: block;
    width: 100%;
    height: auto;
    border: 0;
  }
}